version: '3.8'

services:
  wingspan-goals:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped
    container_name: wingspan-goals
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
